% env.example.sty --- Configuration pour le projet LaTeX
% -----------------------------------------------------------------------------
% Utilisation :
%  1) Copiez ce fichier vers `src/env.sty`
%  2) Modifiez les valeurs ci-dessous pour personnaliser votre projet
%  3) Utilisez \renewcommand pour écraser une valeur
%
% Note : Ce fichier déclare uniquement des variables, il ne charge pas de paquets.
% -----------------------------------------------------------------------------
\NeedsTeXFormat{LaTeX2e}
\ProvidesPackage{env}[2025/11/19 v1.0 Example environment variables]

% ---------------------------------------------------------------------------
% Images et logo
% ---------------------------------------------------------------------------
\providecommand{\envGraphicPaths}{{img/}{images/}{assets/img/}}
\providecommand{\envLogoFile}{img/logo.png}
\providecommand{\envLogoScale}{0.20}

% ---------------------------------------------------------------------------
% Bibliographie
% ---------------------------------------------------------------------------
\providecommand{\envBibFile}{references.bib}

% ---------------------------------------------------------------------------
% Configuration de la police
% ---------------------------------------------------------------------------
% Police: "default" (Computer Modern) ou "times" (Times New Roman)
\providecommand{\envFontFamily}{default}
% Taille de police (en pt) : 10, 11, 12, etc.
\providecommand{\envFontSize}{12}

% ---------------------------------------------------------------------------
% Métadonnées du document
% ---------------------------------------------------------------------------
\providecommand{\envFaculty}{Nom de la faculté}
\providecommand{\envCourse}{Nom du cours}
\providecommand{\envTitle}{Titre du document}
\providecommand{\envAuthor}{Auteur.e.s du document}
\providecommand{\envRemise}{Date de remise}
\providecommand{\envRemiseFmt}{\envRemise}
\providecommand{\envProfessor}{Professeur.e.s du cours}
\providecommand{\envTeam}{Équipe de travail}

% ---------------------------------------------------------------------------
% Entrées de l'équipe (format tableau LaTeX)
% ---------------------------------------------------------------------------
\providecommand{\envTeamEntries}{%
	matricule1 & nom1 \\%
	matricule2 & nom2 \\%
}

% ---------------------------------------------------------------------------
% Exemple de personnalisation (dans env.sty ou local_env.tex) :
% ---------------------------------------------------------------------------
% \renewcommand{\envTitle}{Mon rapport de projet}
% \renewcommand{\envAuthor}{Prénom Nom}
% \renewcommand{\envLogoFile}{img/my-logo.png}
% \renewcommand{\envLogoScale}{0.18}
% \renewcommand{\envFaculty}{Faculté de Génie}
% \renewcommand{\envCourse}{INF-1234: Algorithmique}
% \renewcommand{\envBibFile}{mes-references.bib}
% \renewcommand{\envFontFamily}{times}        % Pour Times New Roman
% \renewcommand{\envFontSize}{11}             % Pour police de taille 11pt
% \renewcommand{\envTeamEntries}{%
%   201234 & Alice Exemple \\%
%   201235 & Bob Exemple   \\%
% }
% ---------------------------------------------------------------------------
\endinput
